<style>
    form {
        max-width: 400px;
        margin: 0 auto;
    }

    input {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        box-sizing: border-box;
    }

    button {
        background-color: #4CAF50;
        color: white;
        padding: 15px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
    }

    button:hover {
        background-color: #45a049;
    }
</style>

<form method="post">
    <input type="text" id="1" name="odpoved1"   placeholder="zadejte odpoved na otazku 1"><br>
    <input type="text" id="2" name="odpoved2"   placeholder="zadejte odpoved na otazku 2"><br>
    <input type="text" id="3" name="odpoved3"   placeholder="zadejte odpoved na otazku 3"><br>
    <input type="text" id="4" name="odpoved4"   placeholder="zadejte odpoved na otazku 4"><br>
    <input type="text" id="5" name="odpoved5"   placeholder="zadejte odpoved na otazku 5"><br>
    <input type="text" id="6" name="odpoved6"   placeholder="zadejte odpoved na otazku 6"><br>
    <input type="text" id="7" name="odpoved7"   placeholder="zadejte odpoved na otazku 7"><br>
    <input type="text" id="8" name="odpoved8"   placeholder="zadejte odpoved na otazku 8"><br>
    <input type="text" id="9" name="odpoved9"   placeholder="zadejte odpoved na otazku 9"><br>
    <input type="text" id="10" name="odpoved10" placeholder="zadejte odpoved na otazku 10"><br><br><br>


    <input type="text"  name="zprava1"   placeholder="zadejte odpoved na otazku 1"><br>
    <input type="text"  name="zprava2"   placeholder="zadejte odpoved na otazku 2"><br>
    <input type="text"  name="zprava3"   placeholder="zadejte odpoved na otazku 3"><br>
    <input type="text"  name="zprava4"   placeholder="zadejte odpoved na otazku 4"><br>
    <input type="text"  name="zprava5"   placeholder="zadejte odpoved na otazku 5"><br>
    <input type="text"  name="zprava6"   placeholder="zadejte odpoved na otazku 6"><br>
    <input type="text"  name="zprava7"   placeholder="zadejte odpoved na otazku 7"><br>
    <input type="text"  name="zprava8"   placeholder="zadejte odpoved na otazku 8"><br>
    <input type="text"  name="zprava9"   placeholder="zadejte odpoved na otazku 9"><br>
    <input type="text"  name="zprava10" placeholder="zadejte odpoved na otazku 10"><br>
    <button type="submit">odeslat</button>
</form>